<%= form_for(@benmark) do |f| %>
  <% if @benmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@benmark.errors.count, "error") %> prohibited this benmark from being saved:</h2>

      <ul>
      <% @benmark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
